html
	head
		title= 'YB Gaming Streaming Dashboard'
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='/scripts/jquery.cookie.js')
		link(rel='stylesheet' type='text/css' href='/css/dashboard.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js')
		script.
			var socket = io.connect('#{socket_host}:#{socket_port}');

	body
		div#masthead
			h1#title= 'Discord Throwdown Streaming Dashboard'

		div#dash-inner

			div.group
				h1= 'Global Transition & Background'
				div.group-inner

					div.one-half.box
						label= 'Transition'
						select(name='trans')
							option(value="rand" selected)= 'random'
							each key in trans
								option(value=key)= key

					div.one-half.box
						label= 'Card Background'
						select(name='bg')
							option(value="rand" selected)= 'random'
							each key in background
								option(value=key)= key

			div.group.hide
				h1= 'Hype Meter'
				div.group-inner
					form.hype.box(action='/hype/' method='POST')
						div.one-half.box
							label= 'Code One'
							input(type='text' name='codeOne' value='YB')
							div.hype.one
								span.one-half.hype-one-total= 'Total Hype: 0'
								span.one-half.hype-one-current= 'Current Hype: 0'
						div.one-half.box
							label= 'Code Two'
							input(type='text' name='codeTwo' value='BR')
							div.hype.two
								span.one-half.hype-two-total= 'Total Hype: 0'
								span.one-half.hype-two-current= 'Current Hype: 0'
						div.one-third
							label= 'Max'
							input(type='number' name='max' value='50' step='1')
						div.one-third
							label= 'Decay'
							input(type='number' name='decay' value='0.1' step='0.01')
						div.one-third
							label= 'Interval'
							input(type='number' name='interval' value='1000' step='1')
						input(type='submit' value='Update / Show Meter')

			div.group
				h1= 'Scoreboard / Teams'
				div.group-inner
					form(action='/update/team_set' method='POST' id='team')

						div.team.team1.box.one-half
							label= 'Team 1 Name:'
							input(type='text' value='YB Gaming' name='team1_name')
							label= 'Team 1 Logo:'
							select(name='team1_square')
								each key in square
									option(value=key)= key
							div.one-half
								label= 'Team 1 Icon'
								select(name='team1_code')
									option(value="icon-attack") Attack
									option(value="icon-defend") Defend
									option(value="none") None
							div.one-half
								label= 'Team 1 Color:'
								input(type='color' value='#A31789' name='team1_color')
							label= 'Team 1 Score:'
							input.score(type='text' value='0' name='team1_score')
							a(href='#' data-action='/update/team1_up')= 'Score +1'

						div.team.team2.box.one-half
							label=" Team 2 Name:"
							input(type='text' value='The Haters' name='team2_name')
							label= 'Team 2 Logo:'
							select(name='team2_square')
								each key in square
									option(value=key)= key
							div.one-half
								label= 'Team 2 Icon'
								select(name='team2_code')
									option(value="icon-attack") Attack
									option(value="icon-defend" selected="true") Defend
									option(value="none.png") None
							div.one-half
								label= 'Team 2 Color:'
								input(type='color' value='#c61f00' name='team2_color')
							label=" Team 2 Score:"
							input.score(type='text' value="0" name='team2_score')
							a(href='#' data-action='/update/team2_up')= 'Score +1'

						input(type='submit' value='Set Teams & Scoreboard')
					a(href='#' data-action='/update/team_reverse')= 'Reverse Teams'

					form.box(action='/update/middle_text' method='POST' id='bug')
						h2= 'Middle Text'
						input(type='text' name='text' value='Map 1 of 5')
						input(type='submit' value='Update Middle Text')
						a(href='#' data-action='/update/middle_hide')= 'Hide Middle Text'

			div.group
				h1= 'Overlay Cards'
				div.group-inner
					a(href='#' data-action='/update/card_hide' data-extends='trans')= 'Hide All Cards'
					div.box
						h2= 'Versus Card'
						a(href='#' data-action='/update/card_versus' data-extends='trans,bg')= 'Show Versus / Match Score'
					form.box(action='/update/card_text' method='POST' id='cards' data-extends='trans,bg')
						h2= 'Text Card'
						input(type='text' name='text' value='Be Right Back')
						textarea(name='more_text' value='')
						input(type='submit' value='Show Text Card')
					form.box(action='/update/card_iframe' method='POST' id='cards' data-extends='trans,bg')
						h2= 'Website Card'
						input(type='text' name='text' value='http://')
						input(type='submit' value='Show Website Card')

			div.group
				h1= 'Popovers'
				div.group-inner
					form.box(action='/update/general_msg' method='POST' id='general_msg')
						h2= 'General Popover'
						input(type='text' name='general_title' value='Title')
						textarea(name='general_text' value='')
						input(type='submit' value='Show / Hide Info Card')
					form.box(action='/update/caster_msg' method='POST' id='caster_msg')
						h2= 'Caster Info'
						input(type='text' name='castermini1' value='Casting By:')
						input(type='text' name='caster1' value='Caster Handle')
						input(type='text' name='twitter1' value='@castertwit')
						hr
						input(type='text' name='castermini2' value='Casting By:')
						input(type='text' name='caster2' value='Caster Handle')
						input(type='text' name='twitter2' value='@castertwit')
						input(type='submit' value='Show / Hide Casters')

			div.group
				h1= 'Bug / Countdown'
				div.group-inner
					a(href='#' data-action='/update/bug_hide')= 'Show / Hide'
					a(href='#' data-action='/update/bug_embiggen')= 'Embiggen / Shrink'
					div.box
						h2= 'Throwdown Logo'
						a(href='#' data-action='/update/bug_logo')= 'Show Bug Logo'
					form.box(action='/update/countdown' method='POST' id='bug')
						h2= 'Countdown'
						div.time-input
							label= 'Hours'
							input(type='number' name='hours' value='0' step='1')
						div.time-input
							label= 'Minutes'
							input(type='number' name='minutes' value='05' step='1')
						div.time-input
							label= 'Seconds'
							input(type='number' name='seconds' value='00' step='1')
						input(type='submit' value='Start Countdown')
						a(href='#' data-action='/update/bug_countdown')= 'Show Countdown Bug'
					form.box(action='/update/bug_text' method='POST' id='bug')
						h2= 'Bug Text'
						input(type='text' name='text' value='discordthrowdown.com')
						input(type='submit' value='Show Bug Text')

			div.group
				h1= 'Utilities'
				div.group-inner
					a(href='#' data-action='/update/refresh')= 'Reload Connected Overlays'

		script.
			var secret = '#{secret}';
		script(src='/scripts/dashboard.js')
