include global.pug

style
	include ../public/css/throwdown.css

div#viewport.bg
	div#general-popover
		span.title= "Popover Title"
		span.text= "Any text you need right here."

	div#caster-msg
		div#caster1
			span.mini="Casting by:"
			span.caster1_name.name= 'A Caster Name'
			span.caster1_twitter.twitter= '@someaccount'

		div#caster2
			span.mini="Casting by:"
			span.caster2_name.name= 'A Caster Name'
			span.caster2_twitter.twitter= '@someaccount'

	div#bug
		div#bug-inner
			div#bug-logo.active
			div#bug-text
				span.bug_text= 'discordthrowdown.com'
			div#bug-countdown
				span#hours.time
				span= ':'
				span#minutes.time
				span= ':'
				span#seconds.time
		div#bug-bg
			div#bug-bg2
			div#bug-bg1
	div#hype-meter
		div.hype.one.hype-meter
			div.bar
		div.hype.two.hype-meter
			div.bar

	div#cards
		div#card-text
			span.card-text= 'Discord Throwdown'
			span.more-text.pre= '7:00PM CST'

		div#card-versus
			div.vs-text-wrapper
				span.vs-text= 'VS'
			div.vs-match-score
				div.vs-match-score-inner
					span.score.team1_score= '0'
					span.score-sep='–'
					span.score.team2_score= '0'
			div#team1_versus.versus_panel
				img.team1_square.square(src="/images/square-default.png")
				span.team_name_wrapper
					span.team1_name.name= 'Set Up Teams'
				div.versus_bg
			div#team2_versus.versus_panel
				img.team2_square.square(src="/images/square-default.png")
				span.team_name_wrapper
					span.team2_name.name= 'With The Dashboard'
				div.versus_bg

		div#card-bg
			each key in background
				video(class=key width='1920' height='1080' preload='none' loop nocontrols)
					source(src='/video/bg-' + key + '.webm' type='video/webm')

	div#middle-text
		span.middle_text= 'Woot Woot'

	div#team
		div.team1.team
			div.team-name
				span.name.team1_name= 'Discord Throwdown'
			div.team-score
				span#team1_scoreboard.score.team1_score= '0'
			div.team-code
				img.code.team1_code(src="/images/icon-attack.png")
				include ../public/svg/dt-code-bg.svg

		div.team2.team
			div.team-score
				span#team2_scoreboard.score.team2_score= '0'
			div.team-name
				span.name.team2_name= 'Stream Overlay'
			div.team-code
				img.code.team2_code(src="/images/icon-defend.png")
				include ../public/svg/dt-code-bg.svg

script(src='/scripts/throwdown.js')
