@import url("https://use.typekit.net/nrs4uvb.css");


* {
	box-sizing: border-box;
	font-family: 'univia-pro', sans-serif;
	color:#3D3D3D;
	font-size: 16px;
	margin:0;
	transition:all .5s ease;
}

body {
	background-color: grey;
	background-image: url('../images/dashboard-dark-bg.png');
	padding-bottom:20vh;
}

.hide {
	display:none;
 }

.hype {
	overflow:hidden;
}
.hype-level-0 {
	background-color: rgba(0,0,0,0.0);
}
.hype-level-1 {
	background-color: rgba(0,0,0,0.1);
}
.hype-level-2 {
	background-color: rgba(50,0,0,0.2);
}
.hype-level-3 {
	background-color: rgba(100,0,0,0.3);
}
.hype-level-4 {
	background-color: rgba(150,0,0,0.4);
}
.hype-level-5 {
	background-color: rgba(200,0,0,0.5);
}
.hype-level-max {
	background-color: rgba(250,0,0,0.6);
}

#dash-inner {
	width:1000px;
	max-width:85%;
	margin:.5em auto;
	box-shadow:0px 0px 20px rgba(255,255,255,0.35);
}

h1 {
	font-size: 32px;
	margin-top:24px;
	margin-bottom:16px;
}

#masthead {
	text-align: center;
}

h1#title {
	display:inline-block;
	margin-bottom:32px;
	color:white;
	font-size: 24px;

	padding-top:50px;
	background-image: url('../images/bug-logo.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 200px auto;
}


.group {
	overflow: hidden;
	background-color: rgba(255,255,255,0.8);
	border-bottom:4px solid #fbae17;
	padding-bottom:32px;
	padding-top:32px;

	background-image: url('../images/dashboard-box-bg.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.group:first-of-type {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.group:last-of-type {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom:none;
}

.group h2 {
	font-size: 16px;
	margin:0 0 16px 0;
	text-transform: UPPERCASE;
}

.group.open {
}

.group-inner {
	padding:0 32px 0 32px;
	max-height: 0;
	overflow:hidden;
	opacity:0;
}

.group.open .group-inner {
	max-height:1500px;
	opacity:1;
}

.group h1 {
	display:block;
	width:100%;
	position:relative;
	margin-top:0;
	padding:0 32px 0 32px;
	margin-bottom:0;
	font-size: 20px;
	cursor:pointer;
}

.group.open h1 {
	margin-bottom:32px;
}

.group h1:after {
	position:absolute;
	display:block;
	top:0;
	right:32px;
	font-size: 27px;
	line-height: 1em;
	width:30px;
	padding:0 0 6px 0;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
	color:white;
	border-radius: 6px;
	text-transform: UPPERCASE;
	opacity:0;
	content:'+';
	transition:opacity .3s ease;
}

.group h1:hover:after {
	opacity:.125;
}

.group h1:hover {
	text-decoration: underline;
}

.group.open:hover h1:after {
	content:'-';
}

h2 {
	font-size: 24px;
	margin-bottom:16px;
	margin-top:12px;
}

a {
	margin-bottom:1em;
}

hr {
	clear:both;
	margin:24px 0;
}

.box {
	padding:1em;
	border:1px solid blue;
	border-top-color:#e0e0e0;
	border-right-color:#e0e0e0;
	border-bottom-color:#d3d3d3;
	border-left-color:#d3d3d3;
	overflow:hidden;
	background-color: rgba(255,255,255,0.6);
}

a, input[type=submit] {
	display:block;
	text-align: center;
	appearance:none;
	border:none;
	background-color:lightgrey;
	text-decoration: none;
	color:#3D3D3D;
	background-color: #fbae17;
	cursor:pointer;
	transition:all .15s linear;
	font-weight: 700;
	box-shadow:2px 2px 4px rgba(0,0,0,0.1);
}

a:hover, input[type=submit]:hover {
	background-color: #fdcf39;
}

form > div {
	margin-bottom:2%;
}

a, input[type=submit], input, select, textarea {
	width:100%;
	padding:1em;
	margin-bottom:16px;
}

input[type=text], textarea, input[type=number] {
	border:1px solid #d5d5d5;
	transition-duration: .15s
}

input[type=text]:focus,
textarea:focus,
input[type=number]:focus,
a:focus,
input[type=submit]:focus {
	outline:none;
	background-color: #feffc7;
}

textarea {
	min-height: 100px;
	font-size: 11px;
}

input[type=color] {
	height:44px;
}

input.score {
	text-align: center;
}

div.time-input {
	width:33.33333%;
	display:inline-block;
}

label {
	display:block;
	clear:both;
	text-transform: UPPERCASE;
	font-weight: bold;
	font-size: 14px;
	margin-bottom:8px;
}

@media screen and (min-width:800px) {
	.one-half {
		width:49%;
		float:left;
	}

	.one-half + .one-half {
		float:right;
	}
}

@media screen and (min-width:800px) {
	.one-third {
		width:33.333%;
		float:left;
	}

	.one-third:nth-of-type(3n) {
		clear:left;
	}
}

.checkbox {

}

.checkbox input[type="checkbox"] {
	display:inline-block;
}

.checkbox label {
	display:inline-block;
}

.team input {
	width:100%;
	padding:.5em;
}

.team a {
	padding:.5em;
}

.full {
	width:100%;
	clear:both;
}

/* ------------------------------------------------------------------------ */
/* Hype */
/* ------------------------------------------------------------------------ */

form.hype span {
	font-size: .7em;
	text-transform: UPPERCASE;
	font-weight: bold;
}
