* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	transition:all .4s ease;
}

body {
	font-size: 16px;
	background-color: transparent;
	background-color: rgba(0,0,0,0);
}

#viewport {
	position:relative;
	width:1920px;
	height:1080px;
	background-size: 1920px 1080px;
	background-position: center center;
	background-repeat: no-repeat;
	overflow:hidden;
}
