@import url("https://use.typekit.net/nrs4uvb.css");

* {
  font-family: "univia-pro";
  font-weight: 700;
}

.mini {
  font-size: 10px;
  text-transform: uppercase;
}

.hide {
  display:none;
}

.team {
  position: absolute;
  top: 0;
  width: 50%;
  max-width: 100%;
  transition: all 2s ease;
}

.pre {
  white-space: pre;
}

.team > div {
  display: inline-block;
}

.team-name {
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.125em 0.5em;
  width: 500px;
  text-transform: UPPERCASE;
  font-size: 28px;
  background-color: #3d3d3d;

  background-image: url("../images/graphic-score-highlight.png");
  background-size: 100% auto;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.team2 .team-name {
  background-image: url("../images/graphic-score-highlight2.png");
  background-position: bottom right;
}

.team-score {
  position: absolute;
  top: 0;
  padding: 2px 16px 6px 16px;
  background-color: #3d3d3d;
  color: #fbae17;
  width: 67px;
  text-align: center;
  overflow: hidden;
  font-size: 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  transition-duration: 0.15s;
}

.team-score.onchange {
  background-color: #fbae17;
}

.team-code {
  display: block;
  width: 100%;
  clear: both;
}

img.code {
  position: absolute;
  color: white;
  top: 6px;
  width: 50px;
  height: 50px;
  z-index: 2;
  text-align: center;
}

.team-code svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 1;
  opacity: 0.9;
}

.team1 {
  left: 0;
}

.team1 .team-score {
  right: 120px;
  transform-origin: left top;
}

.team1 .code {
  left: 210px;
}

.team1 .team-name {
  text-align: right;
  left: 255px;
  border-bottom-right-radius: 8px;
  clip-path: polygon(18% 0%, 100% 0%, 100% 100%, 26.5% 100%);
}

.team1 .team-code svg {
  right: 0;
}

.team2 {
  right: 0;
}

.team2 .team-score {
  left: 120px;
  transform-origin: right top;
}

.team2 .code {
  right: 210px;
}

.team2 .team-name {
  text-align: left;
  right: 255px;
  border-bottom-left-radius: 8px;
  clip-path: polygon(0% 0%, 82% 0%, 73.5% 100%, 0% 100%);
}

.team2 .team-code svg {
  left: 0;
  transform: scaleX(-1);
}

/**********   Middle Text   **********/

#middle-text {
  position: absolute;
  top: 0;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  background-color: #3d3d3d;
  text-align: center;
  padding: 8px;
  color: white;
  text-transform: UPPERCASE;
  font-size: 19px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transform-origin: top center;
  transform: scale(0.75);
}

#middle-text.hide {
  top: -10%;
}

/**********   Cards   **********/

#cards {
  z-index: 99;
}

#cards > div {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  pointer-events: none;
}

#cards #card-bg {
  z-index: 10;
}

#card-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cards > div {
  transition-delay: 1s;
}

#cards > div.active {
  opacity: 1;
  transition-delay: 1s;
}

#card-text {
  text-align: left;
}

.card-text {
  position: absolute;
  top: 20%;
  left: 5%;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
  padding: 0.6em;
  font-size: 84px;
  background-color: #fbae17;
  text-transform: UPPERCASE;
  color: white;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);

  transform: translateX(100px);
  transition-delay: 2s;
  transition-duration: 2s;
}

.more-text {
  display: block;
  position: absolute;
  top: 45%;
  left: 5%;
  max-width: 80%;
  padding: 0.6em;
  font-size: 48px;
  background-color: rgba(255, 255, 255, 0.7);
  text-transform: UPPERCASE;
  color: #3d3d3d;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);

  transform: translateX(100px);
  transition-delay: 2s;
  transition-duration: 2s;
}

.more-text.hide {
  display: none;
}

.versus_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 49;
  transition-delay: 3.25s;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

.active .versus_bg {
  width: 100%;
}

.vs-text-wrapper {
  z-index: 51;
  position: absolute;
  left: 50%;
  top: 30%;
  width: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
  transition-delay: 3.25s;
}

.vs-match-score {
  z-index: 51;
  position: absolute;
  left: 50%;
  top: 45%;
  width: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
  transition-delay: 4.5s;
  background-color: #3d3d3d;
}

.vs-match-score-inner {
  display: inline-block;
  width: 350px;
}

.vs-match-score span {
  display: inline-block;
  font-size: 80px;
  padding: 0;
  color: white;
}

.vs-match-score .score {
  min-width: 140px;
}

.active .vs-match-score {
  width: 350px;
  margin-left: -175px;
}

.active .vs-text-wrapper {
  margin-left: -100px;
  width: 200px;
}

.vs-text {
  display: inline-block;
  width: 200px;
  font-size: 65px;
  padding: 0.25em;
  background-color: white;
}

.versus_panel .square {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  z-index: 50;
}

.versus_panel .team_name_wrapper {
  position: absolute;
  display: block;
  left: 0%;
  width: 100%;
  z-index: 50;
  text-align: center;
  bottom: 15%;
  opacity: 0;
  transition-delay: 2.75s;
}

.active .versus_panel .team_name_wrapper {
  bottom: 24%;
  opacity: 1;
}

.versus_panel .name {
  display: inline-block;
  text-transform: UPPERCASE;
  font-size: 50px;
  padding: 0.75em;
  min-width: 70%;
  background-color: #fbae17;
  color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#team1_versus {
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  height: 100%;
  z-index: 50;
}

#team1_versus .versus_bg {
  background-color: pink;
  right: 0;
  left: auto;
}

#team2_versus {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: 50;
}

#team2_versus .versus_bg {
  background-color: rebeccapurple;
}

/**********   Bug   **********/

#bug {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9vh;
  z-index: 999;
  transform: scale(0.75);
  transform-origin: bottom center;
}

#bug.embiggen {
  transform: scale(1.5);
}

#bug-inner {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 600px;
  height: 100%;
  margin-left: -300px;
  z-index: 65;
}

#bug.hide {
  bottom: -10%;
}

#bug.embiggen.hide {
  bottom: -20%;
}

#bug-inner div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
}

#bug-inner div.active {
  opacity: 1;
}

div#bug-text {
  text-align: center;
}

div#bug-text span {
  display: inline-block;
  max-width: 280px;
  font-size: 24px;
  padding-top: 30px;
}

div#bug-logo {
  left: 50%;
  width: 260px;
  margin-left: -130px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("images/bug-logo.png");
}

#bug-countdown span {
  color: #3d3d3d;
  padding: 8px 2px;
  font-size: 32px;
}

#bug-countdown span.time {
  position: static;
  display: inline-block;
  width: 60px;
  padding: 8px;
  margin-top: 18px;
  color: white;
  border-radius: 4px;
  text-align: center;
  background-color: #3d3d3d;
  box-shadow: inset 4px 4px 2px rgba(0, 0, 0, 0.2);
}

#bug-bg {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 500px;
  height: 100%;
  margin-left: -250px;
  z-index: 60;
}

#bug-bg div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
}

div#bug-bg1 {
  background-image: url("images/bug-bg1.png");
}

div#bug-bg2 {
  background-image: url("images/bug-bg2.png");
  background-size: 100% auto;
}

/* ------------------------------------------------------------------------ */
/* Caster Messages and General Popover */
/* ------------------------------------------------------------------------ */

#caster-msg div {
  position: absolute;
  bottom: -200px;
  width: 350px;
  height: 130px;
  background-color: #fafafa;
  border-top: 3px solid #fbae17;
  padding-top: 2em;
}

#caster-msg.open div {
  bottom: 0;
}

div#caster1 {
  text-align: left;
  left: -350px;
  padding-left: 3em;
}
#caster-msg.open div#caster1 {
  left: 0;
}

div#caster2 {
  text-align: right;
  right: -350px;
  padding-right: 3em;
}
#caster-msg.open div#caster2 {
  right: 0;
}

#caster-msg .name {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

#caster-msg .twitter {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

#caster-msg .mini {
  opacity: 0.6;
}

/* ------------------------------------------------------------------------ */
/* General Popover */
/* ------------------------------------------------------------------------ */

#general-popover {
  position: absolute;
  bottom:20%;
  left:-400px;
  width:400px;
  padding:2em;
  background-color: #fafafa;
  border-top: 3px solid #fbae17;
  transform-origin: bottom left;
}

#general-popover.open {
  left:0;
  transform: scale(1.3);
}

#general-popover .title {
  display:block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom:1em;
  color:#fbae17;

}

/* ------------------------------------------------------------------------ */
/* Hype Meter */
/* ------------------------------------------------------------------------ */

.hype {
  display: none;
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: visible;
}

.hype.one {
  right: 50%;
}

.hype.two {
  left: 50%;
}

.hype .bar {
  position: absolute;
  bottom: 0;
  width: 10%;
  height: 100%;
  transition-duration: 1.3s;
}

.hype.one .bar {
  right: 0;
  transform-origin: bottom right;
}

.hype.two .bar {
  left: 0;
  transform-origin: bottom left;
}

.hype-level-0 .bar {
  background-color: rgba(0, 255, 255, 0.7);
  transform: scaleY(1);
}
.hype-level-1 .bar {
  background-color: rgba(0, 255, 255, 0.75);
  transform: scaleY(1.1);
}
.hype-level-2 .bar {
  background-color: rgba(50, 200, 200, 0.8);
  transform: scaleY(1.2);
}
.hype-level-3 .bar {
  background-color: rgba(100, 150, 150, 0.85);
  transform: scaleY(1.3);
}
.hype-level-4 .bar {
  background-color: rgba(150, 100, 100, 0.9);
  transform: scaleY(1.4);
}
.hype-level-5 .bar {
  background-color: rgba(200, 50, 50, 0.95);
  transform: scaleY(1.6);
}
.hype-level-max .bar {
  background-color: rgba(250, 0, 0, 0.999);
  transform: scaleY(1.8);
}
