@import url("https://use.typekit.net/nrs4uvb.css");

* {
	font-family: 'univia-pro';
	font-weight: 700;
}

body {
	background-color: magenta;
}

#trans {
	width:100%;
	height:100%;
}

#trans video {
	position:absolute;
	top:0;
	left:0;
	width:1920px;
	height:1080px;
	opacity:0;
}

#trans > video.active {
	opacity:1;
}
